*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    &_wide{
        width: 1410px;
        overflow: hidden;
    }
}
$main-color: #ec644b;
$secons-color: #25333c;
$menu-color: lavender;

@import 'fonts';
@import 'header/header';
@import 'header/header-media';
@import 'advantages/advantages';
@import 'advantages/advantages-media';
@import 'work/work';
@import 'work/work-media';
@import 'agent/agent';
@import 'agent/agent-media';
@import 'prices/prices';
@import 'prices/prices-media';
@import 'managers/managers';
@import 'managers/managers-media';
@import 'scheme/scheme';
@import 'scheme/scheme-media';
@import 'reviews/reviews';
@import 'reviews/reviews-media';
@import 'questions/questions';
@import 'questions/questions-media';
@import 'map';
@import 'footer/footer';
@import 'footer/footer-media';
